body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
h1 {
    margin: 0;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
nav li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #333;
}
nav li:hover {
    border-bottom: 3px solid white;
}
main {
    margin: 30px;
    text-align: center;
}
form[type='edit'] {
    display: inline-block;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    justify-content: center;
    margin-top: 50px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type=text] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
}
input[type=submit] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #555;
}
button[type='submit']{
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

form {
    display: inline-block;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    justify-content: center;
    margin-top: 50px;
    display: flex;
    width: 50%; /* Set a fixed width */
    margin: 20px auto 0; /* Center the form horizontally and add margin to the top */
  }

  table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }


